/*Background images */
.one{
    background-image: url('../../imgs/enjoy.JPG');
}

.two {
    background-image: url('../../imgs/blueprint.JPG');
}

.three {
    background-image: url('../../imgs/collaboration.JPG')
}

.four {
    background-image: url('../../imgs/stuck.JPG');
}

.five {
    background-image: url('../../imgs/call.JPG');
}

.six {
    background-image: url('../../imgs/note.JPG');
}

.seven {
    background-image: url('../../imgs/test.JPG');
}

.eight {
    background-image: url('../../imgs/kids.JPG');
}